.create-card-container {
  height: 95vh;
  background-image: url("https://images.unsplash.com/photo-1612160609504-334bdc6b70c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-position: 20% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.create-card-shader {
  height: 100%;
  background: rgba(0,0,0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.create-card-header {
  height: 10%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.create-card-wrapper {
  background: rgba(0,0,0, 0.3);
  height: 30%;
  width: 100%;
  max-width: 550px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-card-wrapper h3 {
  font-size: 7vw;
  margin: 5px 0;
}

.create-card-wrapper button {
  height: 15%;
  width: 50%;
  font-size: 6vw;
  margin: 5px 0;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.4s ease;
}
.create-card-wrapper button:hover {
  cursor: pointer;
  transform: scale(1.10);
}

textarea {
  resize: none;
  font-size: 6vw;
  padding: 5px 0 5px 10px;
}

.manage-cards-wrapper {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-cards-wrapper h3 {
  font-size: 7vw;
  margin: 20px 0 10px 0;
}

.manage-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px 0;
}

.manage-cards h3 {
  margin: 5px 0;
}

@media (min-width: 550px) {
  .create-card-wrapper h3 {
    font-size: 33px;
  }
  
  .create-card-wrapper button {
    height: 47.1875px;
    width: 220px;
    font-size: 33px;
  }
  
  textarea {
    font-size: 33px;
  }
  
  .manage-cards-wrapper h3 {
    font-size: 38.5px;
  }

  .manage-cards-wrapper p {
    font-size: 24px;
  }
}