.create-card-container {
  height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-card-wrapper {
  background-color: orange;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

textarea {
  resize: none;
}

.manage-cards-wrapper {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.manage-cards h3 {
  margin: 5px 0;
}

.manage-this-card {
  width: 80%;
  display: flex;
  margin: 5px 0;
}

.manage-this-card p {
  width: 60%;
}

.manage-this-card button {
  width: 20%;
}