.create-card-container {
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1612160609504-334bdc6b70c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-position: 10% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
}

.create-card-wrapper {
  background-color: rgba(255,255,255,0.5);
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-card-wrapper h3 {
  font-size: 7vw;
  margin-top: 5px;
}

.create-card-wrapper button {
  height: 4vh;
  width: 40vw;
  font-size: 6vw;
  transition: transform 0.4s ease;
}
.create-card-wrapper button:hover {
  cursor: pointer;
  transform: scale(1.10);
}

textarea {
  resize: none;
  font-size: 6vw;
  padding: 5px 0 5px 10px;
}

.manage-cards-wrapper {
  height: 35%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-cards-wrapper h3 {
  font-size: 7vw;
  margin: 20px 0 10px 0;
}

.manage-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.manage-cards h3 {
  margin: 5px 0;
}