.login-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("https://images.unsplash.com/photo-1557973557-ddfa9ee8c5bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80"); */
  background-image: url("../../images/corgi-head-on-jeremy.jpg");
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-header {
  height: 20%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.login-wrapper {
  background: rgba(0,0,0, 0.3);
  height: 60%;
  width: 70%;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.login-wrapper h4 {
  font-size: 6vw;
  margin: 10px 0;
}

.login-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section label {
  font-size: 6vw;
  margin: 3px 0;
}

.login-section input {
  line-height: 5vw;
  width: 60%;
  font-size: 6vw;
  padding: 2px 0 2px 10px;
  margin: 3px 0;
}

.login-btn {
  height: 5vh;
  width: 20vw;
  font-size: 6vw;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.4s ease;
}

.login-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

.login-create-party-btn {
  height: 5vh;
  width: 40vw;
  font-size: 6vw;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  padding-top: 3px;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
}

.login-create-party-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 550px) {
  .login-wrapper h4 {
    font-size: 49.5px;
  }
  
  .login-section label {
    font-size: 33px;
  }
  
  .login-section input {
    line-height: 38.5px;
    font-size: 33px;
  }
  
  .login-btn {
    height: 43.4375px;
    width: 110px;
    font-size: 33px;
  }
  
  .login-create-party h3 {
    font-size: 44px;
  }
  
  .login-create-party-btn {
    height: 43.4375px;
    width: 220px;
    font-size: 33px;
  }
}