.login-container {
  height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-section {
  display: flex;
  flex-direction: column;
}

.login-btn {
  width: 40%;
}

.login-create-party {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-create-party-btn {
  height: 30%;
  width: 50%;
  border-radius: 10px;
  margin-top: 30px;
}