.play-or-create-container {
  height: 95vh;
  background-image: url("https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1349&q=80");
  background-position: 40% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.play-or-create-shader {
  height: 95vh;
  background: rgba(0,0,0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-or-create-header {
  height: 45%;
  width: 75%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.play-or-create-wrapper {
  height: 45%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.play-or-create-btn {
  height: 100px;
  width: 100px;
  background-color: var(--corange);
  font-size: 8vw;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  margin-top: -50px;
  transition: transform 0.4s ease;
}

.play-or-create-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 550px) {
.play-or-create-btn {
    height: 150px;
    width: 150px;
    font-size: 44px;
  }
}