.play-or-create-container {
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1349&q=80");
  background-position: 55% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.play-or-create-header {
  height: 40%;
  width: 75%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.play-or-create-wrapper {
  height: 60%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.play-or-create-btn {
  height: 125px;
  width: 125px;
  font-size: 8vw;
  border-radius: 100px;
  margin-top: -50px;
  transition: transform 0.4s ease;
}

.play-or-create-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}