.playgame-container {
  height: calc((100vh - 8vh));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1516575448682-93a05df8bf59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: 50% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.playgame-wrapper {
  height: 60vh;
  width: 95%;
  margin: 25px 0;
  border-radius: 5px;
}

.playgame-prompt-bg {
  background: rgba(0,0,0, 0.3);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 30px;
}

.playgame-prompt-bg h4, .playgame-prompt-bg h6 {
  padding: 20px;
}

.playgame-next-btn {
  height: 50px;
  width: 70px;
  font-size: 5vw;
  border-radius: 100px;
  transition: transform 0.4s ease;
}

.playgame-next-btn {
  cursor: pointer;
  transform: scale(1.10);
}