.playgame-container {
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.playgame-wrapper {
  background-color: pink;
  height: 50%;
  margin: 25px 0;
  border: 1px solid black;
  padding: 20px;
}

.playgame-author {
  position: relative;
  top: 75%;
  left: 0%;
}

.playgame-next-btn {
  height: 50px;
  width: 70px;
  border-radius: 100px;
}