.playgame-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1516575448682-93a05df8bf59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: 50% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

.playgame-container h1 {
  color: white;
  font-size: 10vw;
}

.playgame-wrapper {
  height: 60vh;
  width: 95%;
  max-width: 1200px;
  margin: 25px 0;
  border-radius: 5px;
}

.playgame-prompt-bg {
  background: rgba(0,0,0, 0.3);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 30px;
}

.playgame-prompt-bg h4, .playgame-prompt-bg h6 {
  padding: 20px;
}

.playgame-next-btn {
  height: 50px;
  width: 70px;
  font-size: 5vw;
  border-radius: 100px;
  border: 1px solid black;
  transition: transform 0.4s ease;
}

.playgame-next-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 550px) {
  .playgame-container h1 {
    font-size: 55px;
  }

  .playgame-prompt-bg {
    font-size: 44px;
  }
  
  .playgame-prompt-bg h4, .playgame-prompt-bg h6 {
    padding: 40px;
  }
  
  .playgame-next-btn {
    height: 100px;
    width: 140px;
    font-size: 27.5px;
  }
}