.playgame-container {
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.playgame-wrapper {
  background-color: pink;
  height: 90%;
  width: 90%;
  margin: 25px 0;
  border: 1px solid black;
  padding: 20px;
}

.playgame-prompt-bg {
  background: rgba(204, 204, 204, 0.7);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  font-size: 30px;
  padding: 5px;
}

/* .playgame-author {
  position: relative;
  top: 75%;
  left: 0%;
} */

.playgame-next-btn {
  height: 50px;
  width: 70px;
  border-radius: 100px;
}