.playgame-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("https://images.unsplash.com/photo-1516575448682-93a05df8bf59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"); */
  background-image: url("../../images/jeremyissatan.png");
  /* background-image: url("../../images/jeremysbirthday.png"); */
  background-position: 45%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.playgame-wrapper {
  height: 60%;
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px 0;
  border-radius: 5px;
}

.playgame-deck-name {
  position: absolute;
  top: 4%;
  color: white;
  font-size: 8vw;
}

.playgame-wildcard {
  height: 100%;
  width: 100%;
}

.wildcard-active {
  background-image: url("../../images/jeremysbirthday.png");
  background-position: 45%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.playgame-prompt-bg {
  background: rgba(0,0,0, 0.3);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 30px;
}

.playgame-prompt,
.playgame-author,
.wildcard-rule-header,
.wildcard-rule-footer {
  padding: 20px;
}

.hidden {
  display: none;
}

.playgame-next-btn {
  height: 50px;
  width: 70px;
  font-size: 5vw;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
}

.playgame-next-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 500px) {
  .playgame-wrapper {
    height: 80%;
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 50px 0;
    border-radius: 5px;
  }
  .playgame-container h1 {
    font-size: 55px;
  }

  .playgame-prompt-bg {
    font-size: 44px;
  }
  
  .playgame-prompt,
  .playgame-author,
  .wildcard-rule-header,
  .wildcard-rule-footer {
    padding: 40px;
  }
  
  .playgame-next-btn {
    height: 50px;
    width: 140px;
    font-size: 27.5px;
  }
}