.card-show-container {
  height: 95vh;
  background-image: url("https://images.unsplash.com/photo-1546975490-a79abdd54533?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: 55% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-show-shader {
  height: 100%;
  background: rgba(0,0,0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-show-header {
  height: 20%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.card-show-wrapper {
  background: rgba(0,0,0, 0.3);;
  height: 50%;
  max-height: 500px;
  width: 100vw;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-show-wrapper h3 {
  font-size: 8vw;
}

.card-show-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-show-form textarea {
  padding: 15px;
}

.card-show-form-btns {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-show-form-btn {
  width: 50%;
  font-size: 6vw;
  margin-top: 20px;
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.4s ease;
}

.card-show-form-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 550px) {
  .card-show-wrapper h3 {
    font-size: 44px;
  }

  .card-show-form-btn {
    font-size: 33px;
  }
} 