.card-show-container {
  height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-show-wrapper {
  background-color: orange;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  padding: 5px;
}