.card-show-container {
  height: calc(100vh - 8vh);
  background-image: url("https://images.unsplash.com/photo-1546975490-a79abdd54533?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
  background-position: 55% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-show-shader {
  height: 100%;
  background: rgba(0,0,0, 0.3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-show-wrapper {
  background: rgba(0,0,0, 0.3);;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-show-wrapper h3 {
  font-size: 8vw;
}

.card-show-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-show-form textarea {
  padding: 15px;
}

.card-show-form-btns {
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-show-form-btn {
  font-size: 6vw;
  margin-top: 20px;
  padding: 5px;
  margin: 5px;
  transition: transform 0.4s ease;
}

.card-show-form-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}