.create-party-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1621889492121-26d982c5f0d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-position: 55% 50%;
  background-color: var(--corange);
  background-repeat: no-repeat;
  background-size: cover;
}

.create-party-header {
  height: 20%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.create-party-header h3 {
  font-size: 8vw;
}

.create-party-header p {
  font-size: 5vw;
}

.new-wrapper {
  background: rgba(0,0,0, 0.3);
  height: 60%;
  width: 70%;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.new-wrapper h4 {
  font-size: 9vw;
  margin-top: 20px;
}

.new-btn {
  height: 5vh;
  width: 40vw;
  font-size: 6vw;
  color: white;
  background-color: var(--corange);
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
}

.new-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}

@media (min-width: 500px) {
  .create-party-header {
    margin: 50px 0;
  }

  .create-party-header h3 {
    font-size: 40px;
  }
  
  .create-party-header p {
    font-size: 25px;
  }

  .new-wrapper h4 {
    font-size: 49.5px;
  }
  
  .new-btn {
    height: 58.9844px;
    width: 220px;
    font-size: 33px;
  }
}