nav {
  position: fixed;
  top: 0;
  background-color: var(--corange);
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-link {
  color: white;
  font-size: 6vw;
  text-decoration: none;
  transition: transform 0.4s ease;
}

.navbar-link:hover {
  cursor: pointer;
  transform: scale(1.25);
}

@media (min-width: 550px) {
  .navbar-link {
    font-size: 33px;
  }
}