:root {
  --corange: rgb(213,158,112)
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Yanone Kaffeesatz';
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

header {
  height: 20%;
  width: 75%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

header h3 {
  font-size: 9vw;
  padding: 1vw;
}

header p {
  font-size: 5vw;
  padding: 1vw;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 550px) {
  header h3 {
    font-size: 49.5px;
  }
  
  header p {
    font-size: 27.5px;
  }
}