:root {
  --corange: rgb(213,158,112)
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Yanone Kaffeesatz';
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 5%;
}

.content {
  flex-grow: 1;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}