.manage-this-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--corange);
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
}

.manage-card-prompt {
  height: 80%;
}

.manage-card-prompt p {
  font-size: 5vw;
  padding: 5px;
  margin: 5px;
}

.manage-card-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.manage-card-btn {
  background-color: white;
  height: 25px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 4vw;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 2px;
  transition: transform 0.4s ease;
}

.manage-card-btn:hover {
  cursor: pointer;
  transform: scale(1.10);
}